# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
.env
.pytest_cache/
*.egg-info/

# Node / React
node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
